@charset "UTF-8";

html, 
body {
  font-family: serif;
  height: 100%;
  margin: 0;
}

.contents {
  background-color: #393;
  border: 1px solid #363;
  color: #EFE;
  font-size: 15px;
  margin: 30px auto;
  padding: 20px;
  width: 500px;
}

.modal {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal > .modal_mask {
  background-color: #333;
  height: 100%;
  margin: 0;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.modal > .modal_content {
  background-color: #FFF;
  box-shadow: 0 0 30px #000;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  text-align: center;
  top: 150px;
  width: 360px;
  z-index: 3;
}