@charset "UTF-8";

body {
	font-size:14px;
	font-family:"メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

/* div形式 */
.list {
	width:100%;
	margin:20px auto;
}


.list .inner {
	overflow:hidden;
}

.list .inner div {
	display:block;
	float:left;
	width:23%;
	height:120px;
	margin:1%;
	color:#fff;
	font-size:48px;
	line-height:120px;
	text-align:center;
	vertical-align:middle;
	background:#999;
	
}

.list .pager {
	clear:both;
	margin:30px 0;
	text-align:center;
}

.list .pager span {
	margin:5px;
	padding:5px 8px;
	color:#000;
	background:#f8f8f8;
	border:1px solid #000;
}
.list .pager span:hover {
	cursor:pointer;
	background:#999;
}

.list .pager span.current {
	color:#000;
	background:#98fb98;
}
.list .pager span.current:hover {
	cursor:default;
}

.list .pager span.invalid {
	display:none;
}
.list .pager span.invalid:hover {
	cursor:default;
}

.list .pager span.ellipsis {
	color:#000;
	background:none;
	border:none;
}
.list .pager span.ellipsis:hover {
	cursor:default;
}

.list .pager span.first,
.list .pager span.last,
.list .pager span.prev,
.list .pager span.next {
	background:#ddd;
}

.list .pager span.first:hover,
.list .pager span.last:hover,
.list .pager span.prev:hover,
.list .pager span.next:hover {
	background:#999;
}

.list .pageNum {
	margin:30px 0;
	text-align:center;
}


.search{
	width: 280px;
	top:15%; 
	right:13%;
	marign-top:20px;
}

.view{
	position :relative;
	left: 0.5%;
}

.innerView{
	width:330px;
	height: 330px;
	float:left;
	margin: 10px 10px 10px 10px;
	border: 0px solid #98fb98;

}

.innerView2{
	border-image: url(./image/border.png) 10 / 10px round;
}


.description{
	width: 1120px;
	float:left;
	margin-bottom:100px;
}

.img{
	float:left;
	padding-right:30px;
}

.back-button{
	position :absolute; 
	top:15%; 
	right:13%;
	margin-top:20px;
}

.reviewBody{
	margin-left:20px;
	padding-left:20px;
}

.review{
	clear:left;
}
.float-left{
	margin-left:50px;
	padding-left:30px;
	
}
.imgMapping{
	marign-right:30px;
	marign-left:30px;
	padding-left:50px;
}
.goCart{
	margin-top:100px;
}

.image-box{
	float:left;
	height:500px;
	width:569px;

}
.refer{
	padding-top:100px;
	height:500px;

}

.bottom1{
	margin-bottom:100px;
}

#errorLogin{
	color:red;
}

.big{
	height:3px; background-color:#808080;
}

.normal{
	height:2px; background-color:#00ff7f;
}


.itemTitle{
	font-family:fantasy;
	font-size:20px;
}

#content {
    position: relative;
    width:100%;
    height:150px;
    overflow:hidden;
    background:#ffffff;
}
#rect {
    position: absolute;
    left:-50px;
    top:50px;
    background:#ffffff;
    width:50px;
    padding:0px 0px;
    text-align:center;
    color:#fff;
}

#box {
  background: #FFF;
  border: 1px solid #333;
  box-shadow: 0 10px 10px #999;
  display: none;
  font-family: serif;
  padding: 10px;
  position: relative;
  width: 600px;
}

#box > #close {
  background-color: #EEE;
  color: #333;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  margin: 0;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: 30px;
}

#box > #close:hover {
  background-color: #F9F9F9;
  color: #999;
}

#btn {
  background-color: #6C6;
  border: 0;
  color: #FFF;
  cursor: pointer;
  padding: 5px 20px;
}

#btn:hover {
  background-color: #9D9;
}

#btn:active {
  background-color: #4A4;
}

#pageTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
}

#pageTop a {
    background: #666;
    text-decoration: none;
    color: #fff;
    width: 100px;
    padding: 30px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
}

#pageTop a:hover {
    text-decoration: none;
    background: #999;
}


